body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(110, 110, 110) 22%, rgba(112,64,8,1) 69%);
}
.divInfo{
    margin-top: 4vh;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(159, 159, 159) 22%, rgb(143, 83, 14) 69%);
    display: flex;
    justify-items: center;
    width: 60vw;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 16px;
}
button{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(159, 159, 159) 22%, rgb(143, 83, 14) 69%);
    width: 90%;
    height: 5vh;
    margin-top: 2vh;
    font-size: 14px;
    transition: 1s;
}
button:hover{
    transition: 1s;
    background-color: black;
    color: saddlebrown;
    border-radius: 25px;
}
.postWrapper{
    margin-top: 4vh;
    width: 90%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 40%;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 1vw;
}
.postInfo{

    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(159, 159, 159) 22%, rgb(143, 83, 14) 69%);

}