body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(110, 110, 110) 22%, rgba(112,64,8,1) 69%);
    height: 200vh;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    width: 100%;
}

.userDiv {
    border: 2px solid black;
    border-radius: 25px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(159, 159, 159) 22%, rgb(143, 83, 14) 69%);
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vw;
}
h2{
    font-size: 36px;
}
p{
    font-size: 32px;

}
button{
    height: 5vh;
    width: 10vw;
    font-size:20px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: rgba(72, 23, 9, 0.7);
    transition: 1s;
    font-weight: bold;
}
button:hover{
    height: 8vh;
    width: 20vh;
    font-size: 26px;
    transition: 1s;
    background-color: black;
    color: saddlebrown;
    border-radius: 25px;
}