body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: gainsboro;

    height: 200vh;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    width: 100%;
}

.userDiv {
    border: 2px solid black;
    border-radius: 25px;
    background-color: #efb604;
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vw;
}
h2{
    font-size: 36px;
}
p{
    font-size: 32px;

}
button{
    height: 5vh;
    width: 10vw;
    font-size:20px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: coral;
    transition: 1s;
    font-weight: bold;
}
button:hover{
    height: 8vh;
    width: 20vh;
    font-size: 26px;
    transition: 1s;
}